
* {
  font-family: Arial, Helvetica, sans-serif;
}

.App-header{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.top{
  flex-grow: 1;
}



 body{
   background-image: url(./images/краска.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
 
  box-sizing: border-box;
 }





.nav li
 {
  list-style-type: none;
  
  /* Убираем маркеры */
}
.nav a{
 
  text-decoration: none;
  align-items: center;
        flex-direction:row;
        color: white;
  

}
.nav{
  display: flex;
  justify-content: space-around;
}
a:hover{
  color: #db7f34;

}
.nav a img{
  width: 30px;
  height: auto;
}
.footer{
  color: white;
  
}
/* .footer p {
  margin-left: 25px;
} */
.footer-style{
   display: flex;
  justify-content: space-between;
  margin: 0,25px, 0, 25px;
  
  
}
.footer-address{
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column;  */
  margin-left: 25px;
}

.footer-contacts{
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  margin-right: 15px;
} 
.main {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  color: black;
  margin: 30px;
  background-color: orange;
  margin: 25px;
  padding: 25px;


 

  /* translate: (30px, 10px) rotate(5deg); */

}
.img-main {
  display: block;
  border: none;
  position: relative;
  width: 30%;
  height: 30%;
  transform:  translate (30px, 10px) ;
  transform: rotate(10deg);

}
.service{
  color: black;
  background-color: orange;
  padding: 25px;
}
.guarantees{
  color: black;
  background-color: orange;
  padding: 25px;
  margin: 25px;
}
h3 span {
  color: red;
}
.mapBox{
  color: white;
  margin-top: 15px;
  margin-left: 25px;
 
}
.contacts{
  color: white;
  padding: 25px;
  margin: 25px;
}
a {
  color: white;
}
.hr {
  background-color: rgba(red, green, blue, alpha);
}
.delivery{
  color: black;
  background-color: orange;
  padding: 25px;
  margin: 25px;

}
.nav-delivery li{
  list-style-type: none;
 
  
}
.nav-delivery a{
  padding-left: 15px;
  text-decoration: none;
  align-items: center;
        flex-direction:row;
        color: white;
  
}
.nav-delivery a:hover{
 
  color: #db7f34;
}

