.App {
  text-align: center;
}





body{
  background-color: rgb(213, 213, 231);
  background-image: url(./images/краска.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 30px, 50px, 30px, 50px ;
  box-sizing: border-box;
  
}




li {
  list-style-type: none;
  
  /* Убираем маркеры */
}
.nav a{
  display: flex;
  justify-content: space-around; 
  text-decoration: none;
  align-items: center;
        flex-direction:row;
        color: white;
  
}
a:hover{
  color: #db7f34;

}

